@use '../components/mixins' as *;
@use '../components/colors' as *;

.contact {
	position: relative;
	background-color: $light-white;
	overflow: hidden;
	.white-block-left {
		background-color: $dark;
	}
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__form-input {
		@include contactForm;
	}
	&__form-textarea {
		@include contactForm;
		max-width: 100%;
		width: 100%;
		min-height: 150px;
	}
	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: $pure-white;
		border: none;
		border-radius: 8px;
		background-color: $main-color;
		cursor: pointer;
		&::before {
			background-color: $secondary-color;
		}
	}
}
