@use '../components/mixins' as *;
@use '../components/colors' as *;


.dreams {
    &__box {
        display: flex;
        flex-direction: column;
        margin: 2em 0em;
    }
    &__img {
        width: 100%;
        margin-bottom: 1em;
    }
    &__title {
        margin-bottom: 0.5em;
    }
    &__text {
        font-size: 1.4rem;
    }
}