@use '../components/mixins' as *;
@use '../components/colors' as *;

.footer {
	color: $pure-white;
	background-color: $dark;
	.wrapper {
		padding: 6em 2em 2em;
	}
	&__box {
		font-size: 1.4rem;
	}
	&__box-desktop {
		display: none;
	}
	&__box-title {
		margin-bottom: 1em;
		font-size: 3rem;
		text-transform: uppercase;
	}
	&__box-social {
		margin: 2em 0em 1em;
	}
	&__box-link {
		padding: 0 0.3em;
		color: $pure-white;
		font-size: 3.6rem;
		text-decoration: none;
		transition: color 0.3s;
		&:first-child {
			padding-left: 0;
		}
		&:hover {
			color: $light-white;
		}
	}

    &__bottom-text{
        padding: 2em;
        text-align: center;
    }
}
