@use '../components/mixins' as *;
@use '../components/colors' as *;

.hero-img {
	position: relative;
	padding: 10em 2em;
	@include heroImages('../img/boat_S.jpg');
	text-align: center;
	color: $pure-white;
	overflow: hidden;
	&__title {
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
		margin-bottom: 0.5em;
	}
	&__text {
		padding: 1em 0;
	}
}
