@use '../components/mixins' as *;
@use '../components/colors' as *;


.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #2e2e2e2e;
        transition: transform .3s;

        &:hover{
            transform: scale(.95);
        }
	}
	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: $main-color;
	}
	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
		color: $dark;
	}
}
